* {
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
}

body {
  padding: 0;
  margin: 0;
  gap: 0.5em;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
  color: #00ffd1;
}

.editor-area {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 56, 46, 0.5);
  margin: 2em;
  overflow: scroll;
  border-radius: 8px;
  border: 1px solid rgba(4, 156, 127, 0.3);
  color: #00ffd1;
}

.editor-variables {
  padding: 1em;
  border-bottom: 1px solid rgba(4, 156, 127, 0.3);
}

.editor-variables-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.editor-variables-list li {
  background: rgba(0, 255, 208, 0.1);
  padding: 0.05em 0.3em;
}

.variable-value {
  margin-left: 0.5em;
  opacity: 0.5;
}

.editor-heading {
  color: rgba(2, 249, 206, 0.3);
}

#editor {
  flex: auto;
  background: none;
  border: none;
  padding: 1em;
  line-height: 1.4;
  width: 460px;
}

.editor-area:focus,
.editor-area:hover {
  outline: none;
  background: rgba(0, 56, 46, 0.6);
}

.button-row {
  display: flex;
  gap: 0.5em;
  padding: 1em 1em 2em;
  position: sticky;
  bottom: 0;
  background: #00332a;
}

.button-row > * {
  flex: 1;
}

button {
  padding: 1em;
  background: none;
  border: 2px solid rgba(0, 255, 208, 0.514);
  color: #00ffd1;
  border-radius: 4px;
  text-transform: uppercase;
}

button:hover {
  background: rgba(0, 56, 46, 0.8);
  cursor: pointer;
}

.hidden {
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ͼ2 .cm-gutters {
  background: none;
  border-right: none;
  color: rgba(2, 249, 206, 0.3);
}

.ͼ2 .cm-content {
  caret-color: rgb(0, 255, 209);
}

.cm-line::selection,
.cm-line ::selection {
  background: rgb(0, 255, 209);
  color: black;
}

.ͼ1.cm-focused {
  outline: none;
}
